html,
body {

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: rgba(59, 51, 136, 1);

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes colorFade {
  from {
    background-color: rgba(59, 51, 136, 1);
  }

  to {
    background-color: rgb(88, 87, 92);
  }
}