.container {
  min-height: 100vh;
  padding: 0 0.5rem;
}

.name {
  text-align: center;
  vertical-align: middle;
  color: white;
  opacity: 0;
  font-family: 'Raleway', sans-serif;
  padding-top: 20%;
  margin-bottom: 0;
  margin-top: 0;

  font-size: 60px;

  animation: hideAtStart 3s 0s 1 forwards, nameslide 3s 2s 1 forwards;

}

.desc {

  color: white;
  opacity: 0;

  text-align: center;
  font-style: italic;
  font-size: 20px;
  
  margin-top: 5px;

  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-name: hideAtStart;

}

.row {
  display: flex;
}

.showcaseLeft { 
  display: flex;
  text-align: center;
  opacity: 0;
  margin-left: 5%;
  margin-top: 3%;

  width: 40vw;
  height: 70vh;
  background-color: rgba(156, 132, 145, .7);
  border-radius: 150px;

  box-shadow: 0px 0px 30px rgba(0,0,0,.8);

  animation-duration: 3s;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
  animation-name: hideAtStart;

}

.showcaseRight { 
  display: flex;
  text-align: center;
  opacity: 0;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;

  width: 40vw;
  height: 70vh;
  background-color: rgba(156, 132, 145, .7);
  border-radius: 150px;

  box-shadow: 0px 0px 30px rgba(0,0,0,.8);

  animation-duration: 3s;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
  animation-name: hideAtStart;

}

.nav {
  text-align: center;
  font-size: 40px;
  color: white;
  opacity: 0;

  margin-top: 10%;

    /* Add the animation to make it invisible at the start */
    animation-duration: 3s;
    animation-delay: 4.5s;
    animation-fill-mode: forwards;
    animation-name: hideAtStart;

}

.nav > a {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.blenderLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  width: 100%;
  height: 100px;
  display: block;
  text-align: center;
  opacity: 0;

  /* Make the footer stay at the bottom of page */
  position: absolute;
  left:0;
  bottom:60px;
  right:0;

  color: white;

  /* Add the animation to make it invisible at the start */
  animation-duration: 3s;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
  animation-name: hideAtStart;

}

@keyframes nameslide {

  from {
    padding-top: 20%;
    font-size: 60px;
  }

  to {
    padding-top: 1%;
    font-size: 40px;
  }

}

@keyframes hideAtStart {

  from {
    opacity: 0;
  }

  to { 
    opacity: 1;
  }

}