.name {
    text-align: center;
    vertical-align: middle;
    color: white;
    
    margin-bottom: 0;
    margin-top: 0;

    padding-top: 1%;
    font-size: 40px;
}

.desc {
    color: white;

    text-align: center;
    font-style: italic;
    font-size: 20px;
    
    margin-top: 5px;
}

.instruction {
    color: white;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 0;
}

.row {
    display: flex;
}

.showcaseLeft { 
    display: flex;
    text-align: center;
    
    margin-left: 5%;
    margin-top: 3%;
  
    width: 40vw;
    height: 70vh;
    background-color: rgba(156, 132, 145, .7);
    border-radius: 150px;
  
    box-shadow: 0px 0px 30px rgba(0,0,0,.8);
  
  }
  
  .showcaseRight { 
    display: flex;
    text-align: center;
    
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
  
    width: 40vw;
    height: 70vh;
    background-color: rgba(156, 132, 145, .7);
    border-radius: 150px;
  
    box-shadow: 0px 0px 30px rgba(0,0,0,.8);
  
  }

  .nav {
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: 'Raleway', sans-serif;
  }

  .nav > a {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
  }

  .footer {
    width: 100%;
    height: 100px;
    display: block;
    text-align: center;
  
    margin-top: 5%;
  
    color: white;
  
  }

  
/* ------------------------------- Animations Page --------------------------- */
.parent {
  width: 45vw;
  display: block;
  margin: 0 auto;
}

.iFrameParent {
  position: relative;
  overflow: hidden;
  
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.aniName {
  text-align: center;
  vertical-align: middle;
  color: white;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0;
  margin-top: 0;

  font-size: 60px;

}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aniDesc, .ytText{

  color: white;

  text-align: center;
  font-style: italic;
  font-size: 20px;
  display: inline-block;
  margin-top: 0;

}

.yt {
  display: inline-block;
  text-align: center;
  margin-bottom: 1%;
  margin-left: 1%;
}



/* --------------------- About Me Page --------------------- */

.about {
  text-align: center;
  vertical-align: middle;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;

}

.aboutDesc {

  color: white;

  text-align: center;
  font-style: italic;
  font-size: 20px;
  margin-top: 0;

}

.aboutFooter {
  width: 100%;
  height: 100px;
  display: block;
  text-align: center;

  position:absolute;
  left:0;
  bottom:0;
  right:0;

  padding-bottom: 12%;

  color: white;
}

@media screen and (max-width: 800px) {
  .parent {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .parent {
    width: 90%;
  }
}

